h1{
  margin:0;
}
body{
  text-align:center;
}
.header-container{
  background-color: #1F2605;
  position: absolute;
  height: 65px;
  margin-top: 15px;
  width:100%;
  box-sizing: border-box;
  display: flex;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width:100%;
  float: right;
  box-sizing: border-box;
}

.title{
<<<<<<< HEAD
    font-family: 'Asap', sans-serif;
    font-size:71;
    bottom: 0;
    margin-left: 10%;
    color: darkgreen;
=======
  font-family: 'Bungee', cursive;
  font-size:31;
  bottom: 0;
  margin-left: 41%;
  color: #D6CE15;
>>>>>>> 012c73c16fbfe7feec0a5b629a0d2aea7981d0e2
}
.logo{
  height: 35px;
  margin-left: 70px;
  margin-top:13px;
}

.log-in{
  width:100px;
  height: 30px;
  margin-right:30px;
}

.overall-background{
  background-image: url('../images/overall-background.png');
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -4;
}

.main-container{
  display: flex;
  position: relative;
  top:120px;
  height: 94%;
}

.media{
  display: flex;
  justify-content: space-around;
}

.map-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  text-align:center;
  background: #d5d5d5; /* Old browsers */
  background: -moz-linear-gradient(top,  #d5d5d5 0%, #f3f3f3 80%, #feffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(80%,#f3f3f3), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d5d5d5 0%,#f3f3f3 80%,#feffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d5d5d5 0%,#f3f3f3 80%,#feffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d5d5d5 0%,#f3f3f3 80%,#feffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d5d5d5 0%,#f3f3f3 80%,#feffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

#map {
  border-radius: 5px;
  height: 98%;
  width: calc(100% - 20px);
  right: 20px;
  bottom: 70px;
  overflow: hidden;
  height: calc(100% - 150px);
}

.btn-primary{
  box-shadow: 1px 2px black;
  color: #1F6521;
  background: #D6CE15;
  border-color: #1F6521;
  font-family: 'Bungee', cursive;
  font-weight: 100;
}

.btn-primary:hover{
  box-shadow: 1px 2px black;
  background: rgb(0, 100, 0);
  border-color: rgba(0,50,0,1)
  
}

.footer{
  background-color: #1F2605;
  position: relative;
  bottom: 10px;
  width:100%;
  height: 40px;
  box-sizing: border-box;
}

.footer .fa{
  margin-right: 3%;
  font-size: 26px;
  float:right;
}
.footer .fa:hover{
  opacity: 0.8;
}
/* The joy was in the act of running and in the journey, not in the destination.” John Bingham #
dont stop when you are tired, stop when youre done!
if it doesnt challenge you it wont change you - fred deVito
"Running allows you to set you mind free. Nothing impossible. Nothing unattainable." — Kara Goucher
6 OF 24ALL PHOTOS
"A good laugh and a long run are the two best cures for anything."
"Act like a horse. Be dumb. Just run." — Jumbo Elliot, 
"Run often. Run long. But never outrun your joy of running." —Julie Isphording,
"What seems hard now will one day be your warm-up." 
"On your good days, runn hard. On your bad days, run as long as you need."
"If you want to change your body, exercise. If you want to change your life, become a runner."
"There is magic in misery. Just ask any runner." — Dean Karnazes
"There will come a day when I can no longer run. Today is not that day." 
“My feeling is that any day I am too busy to run is a day that I am too busy.”John Bryant
Running -All it takes is all you got. Marc Davis
It is a rough road that leads to the heights of greatness. Seneca
Do a little more each day than you think you possibly can. Lowell Thomas
You can throw in the towel, or you can use it to wipe the sweat off of your face. Gatorade
If you run, you are a runner. It doesn’t matter how fast or how far. It doesn’t matter if today is your first day or if you’ve been running for twenty years. There is no test to pass, no license to earn, no membership card to get. You just run. John Bingham
We are all runners, some just run faster than others. I never met a fake runner.” Bart Yasso
Our greatest glory is not in never falling, but in rising every time we fall. Confucius
Running has given me the courage to start, the determination to keep trying, and the childlike spirit to have fun along the way - Julie Isphording
Runners just do it – they run for the finish line even if someone else has reached it first. Unknown
“Pain is temporary.  It may last a minute, or an hour, or a day, or a year, but eventually it will subside and something else will take its place.  If I quit, however, it lasts forever.  Lance Armstrong
“Running is about finding your inner peace, and so is a life well lived.” Dean Karnazes
“Running is real and relatively simple…but it ain’t easy.”  Mark Will-Weber */

.social{
  color: #D6CE15;
  margin-right:30px;
  margin-top: 8px;
  cursor: pointer;
}

.menu-container{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 7%;
}

.start-point{
  margin-bottom: 3%;
}

.end-point{
  margin-bottom: 3%;
}

#submit{
  margin-bottom:10%;
}

.distance-setting{
  background-color: #D6CE15;
    border: solid 1px #1F6521;
    border-radius: 5px;
    margin: 10px;
}

/* #############range things */
label[for=range] {
  height: 49px;
  padding-top: 6px;
  width: 100%;
  padding-left: 13px;
  -webkit-transform: skew(-62deg);
  overflow: hidden;
  padding-bottom: 10px;
}
label[for=range]:after {
  background-color: rgba(31, 101, 33, 0.712);
  content: "";
  position: absolute;
  bottom: 11px;
  left: 34px;
  height: 9px;
  /* width: 278px; */
  width: 100%;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.51);
  /* -webkit-transform: skew(62deg); */
}
input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  /* width: 300px; */
  height: 38px;
  padding-top:10px;
  overflow:hidden;
  margin: 0;
  /* margin-left: -20px; */
  transform-style: preserve-3d;
  perspective: 300;
  transform-origin: 50% 50% 300px;
  perspective-origin: 50% -121%;
  transform: skew(62deg);
}
input[type=range]:focus{
  outline:none;

}
input[type="range"]::-webkit-slider-thumb {
  position:relative;
  -webkit-appearance: none;
  cursor:pointer;
  background-color: transparent;
  width: 30px;
  height: 18px;
  box-shadow: 1px 5px 10px -1px rgba(0, 0, 0,0.2),
  -25px 0 0 10px rgba(90, 184, 6, 0.5),
  -75px 0 0 10px rgba(90, 184, 6, 0.5),
  -125px 0 0 10px rgba(90, 184, 6, 0.5),
  -175px 0 0 10px rgba(90, 184, 6, 0.5),
  -225px 0 0 10px rgba(90, 184, 6, 0.5),
  -275px 0 0 10px rgba(90, 184, 6, 0.5),
  -325px 0 0 10px rgba(90, 184, 6, 0.5);
  z-index:2;
}
input[type="range"]::-webkit-slider-thumb:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -285px;
  top: -28px;
  /* width: 300px; */
  width: 100%;
  height: 140px;
  background: #9FE472;
  transform: rotateX(90deg);
  transform-origin: 0 0px 0;
  transform: rotateX(90deg) translateY(-140px) translateZ(-18px);
}

input[type="range"]::-webkit-slider-thumb:before {
  content: "< >";
  font-family: 'Concert One', cursive;
  position: absolute;
  background: #eaebe5;
  background: -moz-linear-gradient(top, #eaebe5 0%, #dcdedd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebe5), color-stop(100%,#dcdedd));
  background: -webkit-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: -o-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: -ms-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
  background: linear-gradient(to bottom, #eaebe5 0%,#dcdedd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe5', endColorstr='#dcdedd',GradientType=0 );
  top: -2px;
  left: 0px;
  border-radius: 2px;
  color: #5a5a5a;
  text-shadow: 0 1px 0 white;
  height: 22px;
  width: 32px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  box-sizing: border-box;
  text-align: center;
  line-height: 19px;
  font-size: 17px;
}
input[type="range"]::-webkit-slider-runnable-track:before {
  content: "";
  position: absolute;
  height: 38px;
  /* width: 283px; */
  width: 100%;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #dfdfdf 0%, #d8d8d8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#d8d8d8));
  background: -webkit-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: -o-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: -ms-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
  background: linear-gradient(to bottom, #dfdfdf 0%,#d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#d8d8d8',GradientType=0 );
  bottom: 0;
  left: 0;

}
input[type="range"]::-webkit-slider-runnable-track:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 270px;
  background: rgb(247, 247, 247);
  top: 0;
  right: 26px;
  transform: skew(62deg);

}
input[type=range]:before {
  content: "";
  position: absolute;
  background: rgb(190, 190, 190);
  box-shadow:0 1px 0 rgb(235, 235, 235);
  width: 283px;
  left: 0;
  height: 1px;
  top: 29px;
  z-index: 1;

}
input[type=range]:after {
  content: "";
  position: absolute;
  background: rgb(190, 190, 190);
  width: 7px;
  left: 3px;
  border-radius: 50%;
  height: 6px;
  top: 26px;
  z-index: 1;
  box-shadow:30px 0 0 rgb(190, 190, 190),
  60px 0 0 rgb(190, 190, 190),
  90px 0 0 rgb(190, 190, 190),
  120px 0 0 rgb(190, 190, 190),
  150px 0 0 rgb(190, 190, 190),
  180px 0 0 rgb(190, 190, 190),
  210px 0 0 rgb(190, 190, 190),
  240px 0 0 rgb(190, 190, 190),
  270px 0 0 rgb(190, 190, 190),
  60px 1px 0 rgb(235, 235, 235),
  90px 1px 0 rgb(235, 235, 235),
  120px 1px 0 rgb(255, 255, 255),
  150px 1px 0 rgb(235, 235, 235),
  180px 1px 0 rgb(235, 235, 235),
  210px 1px 0 rgb(235, 235, 235),
  240px 1px 0 rgb(235, 235, 235),
  270px 1px 0 rgb(235, 235, 235);
}

.budget {
  text-align: center;
  width: 100%;
  font-size: 2em;
  font-family: 'Advent Pro', sans-serif;
  color: rgb(58, 58, 58);
}
.output {
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bolder;
  width: 100%;
  font-size: 2em;
  color: rgba(0, 100, 0, 1);
}

  .login-screen{
      position: absolute;
      display: none;
      align-items: center;
      justify-content: center;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0,0.5);
  }

  .login-form{
    position: relative;
    width:30%;
    border-radius: 3px;
    background: #dfdfdf;
  }
 .login-form span{
     position: absolute;
     top:0;
     left:0;
     opacity: 0.8;
     cursor: pointer;
 }
.login-form input{
    border-radius: 5px;
    margin-bottom: 5px;
}
.login-form input {
    margin-left: calc(50% - 84px);
    display: block;
}

.forgot{
    margin-top:15px;
}
.forgot:hover{
    color:green;
}
.sign-up{
    display:block;
}
.hidden{
    display:flex;
}

